<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Виртуальная лаборатория</title>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/state.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%-partial('../partials/header')%>
<div class="container-fluid">
    <div class="row change-width">
        <section class="col-xs-3 color-50">
            <div class="file-container">
                <div class="file-container__top color-600 row">
                    <div class="col-xs-2">
                        <label class="file-container__label" for="file_input"><i class="fa fa-plus fa-2x file-container__add-file-btn"></i></label>
                        <input type="file" name="file" id="file_input" style="display: none">
                    </div>
                </div>
                <div class="file-container__file row">
                    <%-partial('../partials/fileManager')%>
                </div>
            </div>
        </section>
        <section class="col-xs-6">
            <%-partial('../partials/console')%>
        </section>
        <section class="col-xs-3 color-200">
            <%-partial('../partials/video')%>
        </section>
    </div>
</div>
<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/terminal.js"></script>
<script src="/js/auth.js"></script>
<script src="/js/script.js"></script>
<% if (!user) { %>
<%-partial('../partials/authPopup')%>
<% } %>
</body>
</html>
