<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Виртуальная лаборатория</title>
    <%-stylesheets%>
</head>
<body>
<%-partial('../partials/header')%>
<div class="container-fluid">
    <div class="row change-width">
        <section class="col-sm-3 color-50">
            <%-partial('../partials/fileManager')%>
        </section>
        <section class="col-sm-6">
            <div class="center-container">
                <%-partial('../partials/board')%>
                <%-partial('../partials/console')%>
            </div>
        </section>
        <section class="col-sm-3 color-200">
            <div class="right-side-container">
                <div class="row">
                    <%-partial('../partials/video')%>
                </div>
                <div class="row">
                    <%-partial('../partials/settings')%>
                </div>
            </div>
        </section>
    </div>
</div>
<%-scripts%>
<% if (!user) { %>
    <%-partial('../partials/authPopup')%>
<% } %>
</body>
</html>
