<td class="item-list__cell" data-name="id"><%= oBoard._id %></td>
<td class="item-list__cell" data-name="name"><%= oBoard.name %></td>
<td class="item-list__cell" data-name="firmwareport"><%= oBoard.firmwareport %></td>
<td class="item-list__cell" data-name="comport"><%= oBoard.comport %></td>
<td class="item-list__cell" data-name="baudRate"><%= oBoard.baudRate %></td>
<td class="item-list__cell" data-name="webcam"><%= oBoard.webcam %></td>
<td class="item-list__cell" data-name="webcamsecret"><%= oBoard.webcamsecret %></td>
<td class="item-list__cell" data-name="busy"><%= oBoard.busy %></td>
<td class="item-list__cell" data-name="user"><%= oBoard.user %></td>
<td class="item-list__cell" data-name="active"><%= oBoard.active %></td>
<td class="item-list__cell" data-name="sessionTime"><%= oBoard.sessionTime %></td>
<td class="item-list__cell"><button type="button" class="close item-list__delete" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>