<td class="item-list__cell" data-name="id"><%= oUser._id %></td>
<td class="item-list__cell" data-name="name"><%= oUser.name %></td>
<td class="item-list__cell" data-name="email"><%= oUser.email %></td>
<td class="item-list__cell" data-name="group"><%= oUser.group %></td>
<td class="item-list__cell" data-name="right"><%= oUser.right %></td>
<td class="item-list__cell" data-name="created"><%= oUser.createdFormat %></td>
<td class="item-list__cell"><button type="button" class="close item-list__delete" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
